.cart-drawer {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

  &[data-is-open='true'] {
    .drawer {
      transform: translateX(0rem);
      transition: transform 0.8s $cubic-bezier;
    }
  }

  &[data-is-open='false'] {
    height: 0vh;
    width: 0vw;

    .drawer {
      transform: translateX(35rem);
      transition: transform 0.8s $cubic-bezier;
    }

    .dark-overlay {
      opacity: 0;
      transition: opacity 0.5s $cubic-bezier;
    }
  }

  .drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35rem;
    background-color: $white;
    border-left: 1px solid $light-gray;

    .cart-header {
      display: flex;
      padding: 2rem;
      border-bottom: 1px solid $light-gray;

      h4 {
        text-transform: uppercase;
      }

      svg {
        height: 1rem;
        margin-left: auto;
        cursor: pointer;
      }
    }

    .cart-items {
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 2rem;

      &::-webkit-scrollbar {
        width: 0.75rem;
      }

      &::-webkit-scrollbar-track {
        background: $light-gray;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba($dark-gray, 0.5);
        border-radius: 10px;
      }

      .item {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        height: 10rem;
        align-items: center;
        overflow: hidden;

        img {
          height: 100%;
          width: 17rem;
          object-fit: cover;
        }

        &-details {
          width: 100%;

          p {
            line-height: 1.6rem;

            &.name {
              color: $dark-gray-1;
              font-size: $font-medium;
              text-transform: capitalize;
            }

            &.size {
              color: $dark-gray-1;
              font-size: $font-small;
              margin-bottom: 0.5rem;
            }

            &.price {
              font-weight: 600;
              margin-bottom: 1rem;
            }
          }

          input {
            width: 3rem;
          }

          button {
            margin-left: auto;
            background-color: transparent;
            text-decoration: underline;
            opacity: 0.8;

            &:hover {
              opacity: 1;
              transition: opacity 0.3s ease;
            }
          }
        }
      }
    }

    .cart-footer {
      width: 100%;
      padding: 2rem;
      margin-top: auto;
      border-top: 1px solid $light-gray;

      .d-flex {
        margin-bottom: 1.5rem;

        h4 {
          text-transform: uppercase;
        }

        p {
          margin-left: auto;
          font-weight: 600;
        }
      }

      button {
        width: 100%;
        display: block;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .dark-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba($dark-gray, 0.75);
    opacity: 1;
  }
}
