.cart-drawer {
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;

  &[data-is-closed='false'] {
    .drawer {
      transform: translateX(0rem);
      transition: transform 0.8s $cubic-bezier;
    }
  }

  &[data-is-closed='true'] {
    height: 0vh;
    width: 0vw;

    .drawer {
      transform: translateX(35rem);
      transition: transform 0.8s $cubic-bezier;
    }

    .dark-overlay {
      opacity: 0;
      transition: opacity 0.5s $cubic-bezier;
    }
  }

  .drawer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 35rem;
    background-color: white;
    overflow: visible;
    border-left: 1px solid $light-gray;

    .cart-header {
      display: flex;
      padding: 2rem;
      border-bottom: 1px solid $light-gray;

      h4 {
        text-transform: uppercase;
      }

      svg {
        height: 1rem;
        margin-left: auto;
        cursor: pointer;
      }
    }

    // .cart-items {
    // }

    .cart-footer {
      width: 100%;
      padding: 2rem;
      margin-top: auto;
      border-top: 1px solid $light-gray;

      .flex-wrapper {
        display: flex;
        margin-bottom: 1.5rem;

        h4 {
          text-transform: uppercase;
        }

        p {
          margin-left: auto;
          font-weight: 600;
        }
      }

      button {
        width: 100%;
        display: block;

        &:first-of-type {
          margin-bottom: 1rem;
        }
      }
    }
  }

  .dark-overlay {
    height: 100vh;
    width: 100vw;
    background-color: rgba($dark-gray, 0.75);
    opacity: 1;
  }
}
