footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $dark-gray;
  color: rgba($light, 0.8);

  .container {
    display: flex;

    .footer-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 4rem;
      border-bottom: 1px solid rgba($light, 0.8);

      h2 {
        text-transform: uppercase;
        font-family: 'BrandFont', sans-serif;
        transform: scaleY(1.5);
        font-size: 1.25rem;
        letter-spacing: 2px;
      }

      .social-groups {
        display: flex;
        margin-left: auto;

        svg {
          height: 1.25rem;
          width: 1.25rem;
          cursor: pointer;

          &:not(:last-of-type) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
