footer {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  background-color: $dark-gray-1;
  color: rgba($light, 1);

  .container {
    .footer-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 5rem;
      border-bottom: 1px solid $light-gray;

      h2 {
        text-transform: uppercase;
        font-family: 'BrandFont', sans-serif;
        transform: scaleY(1.5);
        font-size: 1.25rem;
        letter-spacing: 2px;
        margin-right: 2rem;
      }

      .social-groups {
        display: flex;
        margin-left: auto;

        @include media('<tablet') {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }

        svg {
          height: 1.25rem;
          width: 1.25rem;
          cursor: pointer;

          &:not(:last-of-type) {
            margin-right: 1.5rem;
          }
        }
      }
    }

    .row {
      display: flex;
      gap: min(10vw, 15rem);
    }

    .bottom-group {
      display: flex;
      gap: 1rem;
      align-items: flex-end;
      margin-top: 5rem;

      p {
        line-height: 1.5rem;
      }

      .footer-payment {
        display: flex;

        margin-left: auto;

        .payment-icons {
          display: flex;

          li:not(:last-child) {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
