.image-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .slider-item {
    position: absolute;

    .image-wrapper {
      height: 100vh;
      overflow: hidden;
      background-color: $dark-gray;

      img {
        position: absolute;
        width: 100vw;
        min-height: 100vh;
        object-fit: cover;
        opacity: 0;
        left: -50vw;
        transition: opacity 0.3s ease-in-out;

        &.is-active {
          opacity: 1;
        }
      }
    }

    .overlay {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100%;
      background-color: rgba($dark-gray, 0.5);

      .banner-content {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .label-wrapper {
          overflow: hidden;
          height: fit-content;
          margin-bottom: 1rem;

          .label {
            font-size: 6rem;
            text-align: center;
            text-transform: uppercase;
            color: rgba($white, 0.8);

            @include media('<desktop') {
              font-size: 5rem;
            }

            @include media('<=tablet') {
              font-size: 4rem;
            }
          }
        }

        .button-group {
          display: flex;
          gap: 1rem;

          @include media('<tablet') {
            flex-direction: column;
          }
        }

        a {
          display: flex;
          align-items: center;
          height: 3rem;
          justify-content: center;
          font-weight: 400;
          width: 12rem;
          font-weight: 400;
          text-align: center;
          text-decoration: none;
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.35s ease;

          &:first-of-type {
            background-color: $dark-gray;
            color: white;
            border: 1px solid rgba($white, 0.1);

            &:hover {
              background-color: white;
              color: $dark-gray;
              border: 1px solid $dark-gray;
            }
          }

          &:nth-of-type(2) {
            background-color: transparent;
            color: white;
            border: 1px solid rgba(white, 0.5);

            &:hover {
              background-color: white;
              color: $dark-gray;
            }
          }
        }
      }
    }
  }

  .slider-dots {
    position: absolute;
    // top: 75vh;
    top: 94vh;
    z-index: 2;

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid $white;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $light-gray;
      }

      &.active {
        background-color: $white;
      }
    }
  }
}
