.image-carousel {
  position: relative;
  padding-top: 7rem;
  background-color: $dark-gray;
  width: 100%;
  padding-bottom: 14rem;

  .container {
    h3 {
      text-transform: uppercase;
      color: $white;
      margin-bottom: 5rem;
    }
  }

  button {
    &.prev-btn,
    &.next-btn {
      top: calc(50% - 3rem);
      position: absolute;
      height: fit-content;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 50%;
      color: $dark-gray;
      background-color: rgba($white, 0.8);

      &:hover {
        color: $white;
        background-color: rgba($dark-gray, 0.8);
      }
    }

    &.prev-btn {
      left: 4vw;
    }

    &.next-btn {
      right: 4vw;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
