.image-carousel {
  position: relative;
  transform: translateY(-3rem);
  background-color: $dark-gray;
  width: 100%;

  .container {
    h3 {
      text-transform: uppercase;
      color: $white;
      margin-bottom: 2rem;
    }
  }

  .carousel-fragment {
    position: relative;
    height: 50rem;
    overflow: hidden;
    cursor: grabbing;

    img {
      object-fit: cover;
      width: 600px;
      margin-right: 30px;
    }
  }

  button {
    top: 50%;
    position: absolute;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 50%;
    color: $white;
    background-color: rgba($dark-gray, 0.8);

    &.prev-btn {
      left: 4vw;
    }

    &.next-btn {
      right: 4vw;
    }
  }
}
