.mobile-submenu {
  display: flex;
  position: fixed;
  top: 6rem;
  left: 0;
  height: 100svh;
  width: 100vw;
  background-color: $white;
  background-color: transparent;
  z-index: 9999;

  @include media('<tablet') {
    top: 4rem;
  }

  &[data-is-open='true'] {
    .drawer {
      transform: translateX(0rem);
      transition: transform 0.8s $cubic-bezier;
    }
  }

  &[data-is-open='false'] {
    height: 0vh;
    width: 0vw;

    .drawer {
      transform: translateX(-35rem);
      transition: transform 0.8s $cubic-bezier;
    }

    .dark-overlay {
      display: none;
      opacity: 0;
      transition: opacity 0.5s $cubic-bezier;
    }
  }

  .drawer {
    z-index: 2;
    background-color: $white;
    height: 100dvh;
    width: 35rem;
    max-width: 80vw;

    .navigation-buttons {
      display: flex;
      width: 100%;
      border-bottom: 1px solid $light-gray;

      button {
        padding: 1rem;
        flex: 1;

        &:disabled {
          color: $white;
          background-color: $dark-gray;
          cursor: default;
        }

        &:enabled {
          background-color: transparent;
        }
      }
    }

    nav {
      padding: 1rem;
      ul {
        li {
          line-height: 2.5rem;
          opacity: 0.8;
        }
      }
    }
  }

  .dark-overlay {
    // flex: 1;
    z-index: 1;
    position: absolute;
    height: 100dvh;
    width: 100vw;
    background-color: rgba($dark-gray, 0.75);
    opacity: 1;
    touch-action: none;
  }
}
