.news-letter-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include media('<tablet') {
    flex-direction: column;
    gap: 4rem;
  }

  .content {
    width: 100%;
    max-width: 40rem;

    h4 {
      margin-bottom: 1rem;
      letter-spacing: -0.5px;
    }

    p {
      font-size: $font-small;
      opacity: 0.8;
    }
  }

  .form-group {
    width: 100%;
    max-width: 40rem;

    .input-group {
      border-bottom: 1px solid $dark-gray;
      margin-bottom: 2rem;
      width: 100%;
    }

    p {
      margin-bottom: 1rem;
    }

    .flex-wrapper {
      display: flex;
      align-items: center;

      input[type='radio'] {
        margin-right: 0.3rem;
      }

      label {
        font-size: 0.9rem;

        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }

      button {
        margin-left: auto;
        text-transform: uppercase;
        background: transparent;
        font-weight: 600;
        font-size: 1.1rem;
      }
    }
  }
}
