.news-letter-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include media('<tablet') {
    flex-direction: column;
    gap: 4rem;
  }

  .content {
    width: 100%;
    max-width: 40rem;

    h4 {
      margin-bottom: 1rem;
      letter-spacing: -0.5px;
    }

    p {
      font-size: $font-small;
      opacity: 0.8;
    }
  }
}
