.size-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: rgba($white, 0.5);
  color: $dark-gray;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba($dark-gray, 0.8);
  cursor: pointer;

  &.selected {
    background-color: $dark-gray;
    color: $white;
    transition: all 0.3s ease;
  }

  &.out-of-stock {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }

  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  &:hover {
    &:not(.selected) {
      background-color: rgba($white, 1);

      transition: all 0.8s ease;
    }
  }
}
