.story {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgba($dark-gray, 0.03);
  background-color: $light;

  .container {
    h3 {
      text-transform: uppercase;
      margin-bottom: 5rem;
    }

    .gallery-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 50%;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        'gift-card faq .'
        'contact delivery-returns .';
      grid-auto-rows: minmax(50rem, 80rem);
      gap: 2rem;

      @include media('<tablet') {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 50%;
        grid-template-areas:
          'gift-card faq'
          'contact delivery-returns'
          'about about';
      }

      a {
        &:nth-of-type(1) {
          grid-area: gift-card;
        }

        &:nth-of-type(2) {
          grid-area: faq;
        }

        &:nth-of-type(3) {
          grid-area: contact;
        }

        &:nth-of-type(4) {
          grid-area: delivery-returns;
        }

        &:nth-of-type(5) {
          grid-area: 1 / 3 / 3 / 3;
          max-height: 100rem;

          @include media('<tablet') {
            grid-area: about;
          }
        }

        &:not(:last-of-type) {
          max-height: 49rem;
        }

        img {
          height: calc(100% - 4rem);
          width: 100%;
          object-fit: cover;
          position: relative;
          transition: filter 0.5s ease;
        }

        p {
          margin-top: 1rem;
          opacity: 0.8;
          font-size: $font-small;
          text-wrap: nowrap;
        }

        h4 {
          margin-top: 0.5rem;
          transition: all 0.5s ease;
          text-wrap: nowrap;

          svg {
            margin-right: 0.25rem;
          }
        }

        @include media('>=desktop') {
          img {
            filter: grayscale(0.75);
          }

          h4 {
            transform: translateX(-1.25rem);
          }

          svg {
            opacity: 0;
          }

          &:hover {
            img {
              filter: grayscale(0);
            }

            h4 {
              transform: translateX(0rem);

              svg {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
