.submenu {
  width: 100vw;
  height: 50rem;
  z-index: 9999;
  background-color: $white;
  transition: transform 0.8s $cubic-bezier, opacity 0.8s $cubic-bezier;
  box-shadow: $box-shadow-0;
  position: fixed;
  opacity: 0;
  pointer-events: none;

  &.open {
    pointer-events: auto;
    transform: translateY(5.9rem);
    opacity: 1;
  }

  @include media('<desktop') {
    display: none;
  }

  .container {
    form.search-group {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 3.5rem 0 5rem 0;
      width: 45%;
      min-width: 21rem;
      max-width: 50rem;
      background-color: rgba($light-gray, 0.4);
      border-radius: 0.25rem;

      button {
        padding: 1rem;
        background-color: transparent;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          background-color: transparent;
          color: transparent;
        }
      }

      input {
        width: 100%;
        border: none;
        background-color: transparent;
        font-size: $font-medium;

        &:focus {
          outline: none;
        }
      }
    }

    .row {
      width: 100%;
      display: flex;

      .nav-list,
      .featured-items {
        h5 {
          font-size: 1.15rem;
        }
      }

      .nav-list {
        display: flex;
        gap: 10vw;

        ul {
          li {
            line-height: 2.125rem;

            &:first-child {
              font-weight: 600;
            }

            &:not(:first-child) {
              opacity: 0.7;
            }
          }

          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }

      .featured-items {
        margin-left: auto;
        width: 50%;

        h5 {
          line-height: 2.125rem;
          font-size: 1.15rem;
          text-transform: capitalize;
        }

        .flex {
          display: flex;
          gap: 2rem;
          margin-top: 1rem;

          .featured-item {
            display: flex;
            position: relative;
            cursor: pointer;

            .details {
              padding: 0.75rem 1.25rem;
              position: absolute;
              bottom: -1px;
              background-color: rgba($dark-gray, 0.1);
              width: 100%;

              p {
                font-size: $font-medium;
                text-transform: capitalize;
                color: $white;
                line-height: 2rem;

                &.price {
                  font-weight: 600;
                }
              }
            }

            img {
              height: 25rem;
              object-fit: cover;
              width: 10vw;
              min-width: 12rem;
              max-width: 20rem;
            }
          }
        }
      }
    }
  }
}
