@mixin quickAddHoverEffect {
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.8s $cubic-bezier;
}

.product-card {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
  user-select: none;
  display: flex;
  flex-direction: column;

  @include media('>=desktop') {
    &[data-is-hover='true'] {
      .quick-add-wrapper {
        .quick-add {
          @include quickAddHoverEffect;
        }
      }

      .content {
        opacity: 0;
      }
    }
  }

  @include media('<desktop') {
    margin-right: 22.5px;
  }

  @include media('<tablet') {
    margin-right: 15px;
  }

  h3.sold-out {
    color: $dark-gray !important;
    background-color: rgba($white, 0.5);
    position: absolute;
    padding: 1rem;
  }

  img {
    pointer-events: none;
    cursor: pointer;
    object-fit: cover;
    height: 50rem;
    width: 600px;

    @include media('<desktop') {
      height: 40rem;
      width: 475px;
    }

    @include media('<tablet') {
      height: 30rem;
      width: 350px;
    }
  }

  .quick-add-wrapper {
    z-index: 1;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .quick-add {
      transform: translateY(25%);
      opacity: 0;
      position: absolute;
      bottom: 0%;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: rgba($white, 0.5);

      @include media('>=desktop') {
        &:hover {
          @include quickAddHoverEffect;
        }
      }

      p.message {
        margin-bottom: 2rem;
        font-size: $font-medium;
      }

      .sizes {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 1;
      }
    }
  }

  .content {
    position: absolute;
    bottom: 0%;
    padding: 1.5rem;
    background-color: rgba($dark-gray, 0.2);
    width: 100%;
    color: $white;

    p {
      line-height: 2rem;

      &.name {
        font-size: 1.5rem;
        text-transform: capitalize;
      }

      &.color {
        font-size: 1.1rem;
        text-transform: uppercase;
      }

      &.price {
        margin-top: 0.5rem;
        font-size: 1.1rem;
        font-weight: 800;
      }
    }
  }
}
