.account {
  padding-top: 6rem;
  height: 70rem;

  .container {
    display: flex;
    justify-content: center;

    .sign-in {
      padding: 5rem 0;
      max-width: 50rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 3rem;
      }

      .input-group {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 100%;

        &:first-of-type {
          margin-bottom: 2rem;
        }

        label {
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }

        input {
          background-color: transparent;
          border-radius: 1px;

          padding: 0.75rem 1rem;
          border: 1px solid rgba($dark-gray, 0.9);
          width: 40.5rem;
          max-width: 80vw;

          &:focus,
          &:active {
            border: 1px solid rgba($dark-gray, 0.9);
          }
        }
      }

      a {
        margin: 0.5rem 0 1rem 0;
        font-size: $font-small;
        align-self: flex-end;
      }

      button {
        margin-top: 1rem;
        width: fit-content;

        // align-self: center;
      }
    }
  }
}
