.account-page {
  padding: 15vh 0rem;

  .container {
    display: flex;
    justify-content: center;

    .sign-in {
      padding: 5rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 7rem;
      }

      form.sign-in-form {
        width: 100%;

        .input-group {
          &:first-of-type {
            margin-bottom: 2rem;
          }
        }
      }

      a {
        margin-bottom: 7rem;
        font-size: $font-small;
        align-self: flex-end;
        transform: translateY(-1rem);
        opacity: 0.6;
        z-index: 1;

        &:hover {
          opacity: 1;
        }
      }

      button {
        &.sign-in-btn {
          margin-bottom: 7rem;
        }

        &.sign-up-btn {
          margin-top: 2rem;
        }
      }
    }
  }
}
