.account-page {
  padding: 15vh 0rem;

  .container {
    display: flex;
    justify-content: center;

    .sign-in {
      padding: 5rem 0;
      display: flex;
      align-items: center;
      flex-direction: column;

      h2 {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 7rem;
      }

      form.sign-in-form {
        width: 100%;

        .md-input-group {
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          border-bottom: 1px solid rgba($dark-gray, 0.9);

          &:first-of-type {
            margin-bottom: 2rem;
          }

          input {
            background-color: transparent;
            border-radius: 1px;

            &:focus,
            &:active {
              + label {
                opacity: 0;
              }
            }
          }
        }
      }

      a {
        margin: 0.5rem 0 7rem 0;
        font-size: $font-small;
        align-self: flex-end;
      }

      button {
        &.sign-in-btn {
          margin-bottom: 7rem;
        }

        &.sign-up-btn {
          margin-top: 2rem;
        }
      }
    }
  }
}
