.product-page {
  display: flex;
  justify-content: center;
  padding: 12.5rem 0 10rem 0;

  .container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    max-width: 100rem;
    width: 100%;

    @include media('<desktop') {
      justify-content: flex-start;
    }

    @include media('<tablet') {
      flex-direction: column;
    }

    img {
      object-fit: cover;
      height: 50rem;
      width: 65%;

      @include media('<tablet') {
        align-self: center;
        width: 100%;
      }
    }

    .details {
      h2.name {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      p {
        &.price {
          font-weight: 600;
          margin-bottom: 2rem;
        }

        &.color {
          margin-bottom: 1rem;
          font-size: $font-small;
          font-weight: 600;
          color: rgba($dark-gray, 0.7);

          span {
            font-weight: 600;
            color: rgba($dark-gray, 1);
            text-transform: capitalize;
          }
        }

        &.size {
          margin-bottom: 1rem;
          font-size: $font-small;
          color: rgba($dark-gray, 0.7);
        }
      }

      p.color {
        color: rgba($dark-gray, 0.5);
      }

      button.btn-dark {
        margin: 2rem 0;
        width: 100%;
      }

      .accordion {
        ul {
          li {
            line-height: 1.65rem;
            opacity: 0.9;
            display: flex;
            gap: 10px;
            align-items: flex-start;
          }
        }
      }
    }
  }
}
