*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

input[type='search'] {
  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}

li {
  list-style: none;
}

button,
a {
  color: inherit;

  &:hover {
    cursor: pointer;
  }
}

html {
  font-size: 90%;
  word-spacing: 0.15rem;
  color: #222222;
  overflow-x: hidden;

  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);

  @include media('>phone') {
    font-size: 94%;
  }

  @include media('>tablet') {
    font-size: 96%;
  }

  @include media('>desktop') {
    font-size: 98%;
  }

  @include media('>LGdesktop') {
    font-size: 100%;
  }

  &.disable-scrollbar {
    overflow-y: hidden;
  }
}

body {
  overflow-x: hidden;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;

  scrollbar-width: auto;
  scrollbar-color: #efefef;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background: rgba($dark-gray, 0.9);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($white, 0.2);
    border-radius: 10px;
  }
}

button {
  border: none;

  &.no-border {
    border: none;
  }
}

a,
button {
  &.btn {
    &-dark,
    &-light,
    &-transparent {
      width: fit-content;
      padding-left: 3rem;
      padding-right: 3rem;
      height: 3rem;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.35s ease;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-dark {
      background-color: $dark-gray;
      color: white;

      &:hover {
        background-color: white;
        color: $dark-gray;
      }

      &.bordered {
        &:hover {
          border: 1px solid $dark-gray;
        }
      }
    }

    &-transparent {
      background-color: transparent;
      color: white;
      border: 1px solid rgba(white, 0.5);

      &:hover {
        background-color: white;
        color: $dark-gray;
      }
    }

    &-light {
      background-color: white;
      color: $dark-gray;

      &:hover {
        background-color: $dark-gray;
        color: white;
      }

      &.bordered {
        border: 1px solid $dark-gray;
      }
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 100%;
}

.d-flex {
  display: flex;
}
