*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #efefef;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #2b2b2b;
}

*::-webkit-scrollbar-thumb {
  background-color: #efefef;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
a {
  color: inherit;
  &:hover {
    cursor: pointer;
  }
}

html {
  overflow-x: hidden;
  font-size: 92%;
  word-spacing: 0.15rem;
  color: #222222;

  @include media('>phone') {
    font-size: 94%;
  }

  @include media('>tablet') {
    font-size: 96%;
  }

  @include media('>desktop') {
    font-size: 98%;
  }

  @include media('>LGdesktop') {
    font-size: 100%;
  }
}

body {
  overflow: hidden;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 1.15rem;
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
}

.btn {
  &-dark,
  &-light,
  &-transparent {
    width: fit-content;
    min-width: 180px;
    height: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.35s ease;
  }

  &-dark {
    background-color: $dark-gray;
    color: white;
    border: 1px solid rgba($white, 0.1);

    &:hover {
      background-color: white;
      color: $dark-gray;
      border: 1px solid rgba($dark-gray, 0.1);
    }
  }

  &-transparent {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(white, 0.5);

    &:hover {
      background-color: white;
      color: $dark-gray;
    }
  }

  &-light {
    background-color: white;
    color: $dark-gray;

    &:hover {
      background-color: $dark-gray;
      color: white;
    }
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4vw;
  padding-right: 4vw;
  width: 100%;
}
