@font-face {
  font-family: 'BrandFont';
  src: url('../../assets/fonts/brand-font.otf');
}

$box-shadow-0: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$cubic-bezier: cubic-bezier(0.075, 0.82, 0.165, 1);

$font-primary: 'BrandFont', sans-serif;
$font-small: 0.9rem;
$font-medium: 1.4rem;

$dark-gray: #171717;
$dark-gray-1: #3d3d3d;

$white: #ffffff;
$light: #f8f8f8;
$light-gray: #e5e5e5;
